{% extends 'Base.html' %}

{% block Head %}
	<title>{{ user.username }}'s Profile</title>
	<style>
		#posts_list a {
			text-decoration: none;
			color: darkblue;
			padding: 3px;
			font-size: 23px;
		}
		#posts_list a:hover {
			transition: color 0.5s ease;
			color: darkcyan;
		}
		.breadcrumb {
			background-color: saddlebrown;
			padding: 2px 8px;
			horiz-align: center;
			vertical-align: center;
			border-radius: 25px;
		}
		.breadcrumb a {
			text-decoration: none;
			color: limegreen;
			padding: 2px;
		}
		.breadcrumb a:hover {
			transition: color 0.3s ease-in-out;
			color: darkolivegreen;
		}
		#Current-page {
			color: cadetblue;
		}
	</style>
{% endblock %}

{% block Body %}
	<div style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'Home:Home' %}">Home</a></li>
			<li id="Current-page" class="breadcrumb-item active" aria-current="page">Profile</li>
		</ol>
	</div>
		<div class="dropstart btn-group" style="float: right; margin-right: 10px;">
	        <button class="btn btn-primary dropdown-toggle btn-lg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
	            Actions
	        </button>
			<ul class="dropdown-menu">
				{% if request.user == user %}
		            <li><a class="dropdown-item" href="{% url 'Posts:PostCreate' %}">Create new post</a></li>
		            <li><a class="dropdown-item" href="{% url 'accounts:EditProfile' request.user.username %}">Edit profile</a></li>
		            <li><a class="dropdown-item" href="{% url 'accounts:DeleteUser' request.user.username %}">Delete account</a></li>
					<li><hr class="dropdown-divider" /></li>
				{% endif %}
				<li><a class="dropdown-item" href="{% url 'accounts:Followers' user.username %}">Followers list</a></li>
				<li><a class="dropdown-item" href="{% url 'accounts:Followings' user.username %}">Following list</a></li>
	        </ul>
		</div>
	{% if Follow and request.user != user %}
		<a class="btn btn-danger btn-lg" style="float: right; margin-right: 5px;" href="{% url 'accounts:Unfollow' user.username %}">Unfollow</a>
	{% elif not Follow and request.user != user %}
		<a class="btn btn-success btn-lg" style="float: right; margin-right: 5px;" href="{% url 'accounts:Follow' user.username %}">Follow</a>
	{% endif %}
	<div style="display: inline-block;">
		<h3 style=" display: inline-block;">Username: </h3>
		<p style="font-size: 25px; display: inline-block;"> {{ user.username }}</p><br/>
		<h2 style="display: inline-block;">Email address: </h2>
		<p style="font-size: 25px; display: inline-block;">{{ user.email }}</p><br/>
		<span style="opacity: 40%;">Last login at {{ user.last_login|date:"M jS H:i:s" }}</span><br/><br/>
	</div>

	<hr/>
	<h3 style="text-align: center;"> Posts </h3>
	<div id="posts_list" class="card">
		<ul class="list-group list-group-flush">
			{% for post in posts %}
		        <li class="list-group-item">Post number {{ forloop.counter }} -> <a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
			{% empty %}
				<li class="list-group-item">No posts submitted so far</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
