{% extends 'Base.html' %}
{% load mptt_tags %}


{% block Head %}
	<title>Category Section</title>
	<style>
		#Category a {
			text-decoration: none;
			color: black;
			padding: 3px;
			font-size: 20px;
		}
		#Category a:hover {
			transition: color 0.3s ease;
			color: darkgray;
		}
		.breadcrumb {
			background-color: saddlebrown;
			padding: 2px 8px;
			horiz-align: center;
			vertical-align: center;
			border-radius: 25px;
		}
		.breadcrumb a {
			text-decoration: none;
			color: limegreen;
			padding: 2px;
		}
		.breadcrumb a:hover {
			transition: color 0.3s ease-in-out;
			color: darkolivegreen;
		}
		#Current-page {
			color: cadetblue;
		}
	</style>
{% endblock %}

{% block Body %}
	<div style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'Home:Home' %}">Home</a></li>
			<li id="Current-page" class="breadcrumb-item active" aria-current="page">Categories</li>
		</ol>
	</div>
	<ul id="Category">
		{% recursetree categories %}
			<li>
				<a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
				{% if not node.is_leaf_node %}
					<ul class="children">
						{{ children }}
					</ul>
				{% endif %}
			</li>
		{% endrecursetree %}
	</ul>
{% endblock %}