{% extends 'Base.html' %}
{% load mptt_tags %}

{% block Head %}
    <title>{{ post.author }}'s Post</title>
	<style>
		.button-link-design a:hover {
			transition: background-color 0.3s ease;
		}
	</style>
{% endblock %}

{% block Body %}
    <div style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'Home:Home' %}">Home</a></li>
			<li class="breadcrumb-item"><a href="{% url 'Categories:Category' %}">Categories</a></li>
            {% for anc in ancestors %}
			    <li class="breadcrumb-item"><a href="{{ anc.get_absolute_url }}">{{ anc.name }}</a></li>
            {% endfor %}
			<li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
		</ol>
	</div>
	<div class="card" style="display: inline-block; float: right;">
		<h2 class="card-header">Recent Posts From This Category</h2>
		<ul class="card-body">
			{% for post in recent %}
				<li>
					<a href="{{ post.get_absulote_url }}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
						{{ post.author }}: {{ post.title }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
	{% if Liked %}
		<a class="btn btn-danger button-link-design mb-2 position-relative" href="{% url 'Posts:Like' post.slug %}">
			Dislike
			<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
				{{ Likes }}
                <span class="visually-hidden">unread messages</span>
            </span>
		</a>
	{% else %}
		<a class="btn btn-info button-link-design mb-2 position-relative" href="{% url 'Posts:Like' post.slug %}">
			Like
			<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
				{{ Likes }}
                <span class="visually-hidden">unread messages</span>
            </span>
		</a>
	{% endif %}<br/>
    <h2 style="display: inline-block; text-align: center; margin-left: 460px;">{{ post.title }}</h2>
    {% if request.user == post.author %}
		<br/>
        <a class="btn btn-danger" href="{% url 'Posts:PostDelete' post.slug %}">Delete</a>
        <a class="btn btn-info" href="{% url 'Posts:PostUpdate' post.slug %}">Update</a>
		<br/>
		<br/>
    {% endif %}
    <div class="card" style="display: inline-block; width: 65%;">
        <p class="card-body">
            {{ post.body|safe }}
        </p>
    </div><br/><br/><br/>
	<hr/>
	<h1 style="text-align: center;">Comments</h1>
	{% if comments %}
		{% recursetree comments %}
			<li class="button-link-design card {% if node.get_ancestors.count|divisibleby:'2' %} text-bg-dark {% else %} text-bg-primary {% endif %} "
				style="margin-right: 20px;">
					<h3 class="card-body">{{ node.author }}
						<span style="opacity: 50%; font-size: 15px;"> Updated at: {{ node.date_updated|date:"M jS H:i:s" }}</span>
						<a class="btn btn-outline-info" href="{% url 'Posts:AddReply' post.slug node.id %}">Reply</a>
					</h3>
					<p class="card-text" style="padding-left: 5px;">{{ node.body|safe }}</p>
					{% if not node.is_leaf_node %}
						<ul class="children">
							{{ children }}
						</ul>
					{% endif %}
			</li>
			<br/>
		{% endrecursetree %}
	{% else %}
		<h3 style="text-align: center;">No comments submitted yet</h3>
		<br/>
	{% endif %}
	<hr/>
	<div class="button-link-design" style="text-align: center;">
		<h2>Submit your comments</h2>
		<a class="btn btn-dark" href="{% url 'Posts:AddComment' post.slug %}">Add Comment</a>
	</div>
	<br/><br/>
{% endblock %}