{% extends 'Base.html' %}

{% block Head %}
	<title>Home</title>
{% endblock %}

{% block Body %}
	<form action="" method="get" class="col-md-5">
		{{ form.as_p }}
		<input type="submit" value="Search" />
	</form>
	<br/>
	<h2>Posts in order of newest to oldest</h2>
	<hr/>
	<div class="card">
		<ul class="card-body">
			{% for post in posts %}
				<li>
					<a href="{{ post.get_absolute_url }}">
						<pre>
							{{ post.author }}:  {{ post.title|truncatewords:10 }}
							Last updated at: {{ post.date_updated|timesince }}
						</pre>
					</a>
				</li>
			{% empty %}
				<h3>No posts submitted so far</h3>
			{% endfor %}
		</ul>
	</div>
{% endblock %}